.cta-1 
{
    height: 100vh;
    align-items: center;
    width: 100%;
    background-color: #121212;
}

.cta-1 > .spider-background
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    background-image: url(../images/bg-callout.jpg);
    background-position: center;
    background-size: cover;
    height: 90vh;
}

.cta-1 > .spider-background h2 
{
    font-size: 3.5rem;
    color: #fff;
    margin-bottom: 2rem;
    text-align: center;

}
